<div style='display:none' id="confirm_save">
    <div id='confirm_save' style='padding:10px; background:#fff;'>
        <div class="sign_box">
            <div class="row-fluid">
                <div class="span12 sign_mid">
	                <div id="main-title">
						<div class="alert alert-info" align="Center"><h4>You are about to quit the exam</h4>
						</div>

					</div>
					<div  align="Center">
						<div class="buttons">
							<input type="button" class="btn btn-info" value="Yes" ng-click="save_answer_sheet()" >
							<input type="button" class="btn btn-info" value="No" ng-click="close_confirm_popup()" >
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>