<div style='display:none' id="show_warning">
    <div id='show_warning' style='padding:10px; background:#fff;'>
        <div class="sign_box">
            <div class="row-fluid">
                <div class="span12 sign_mid">
	                <div id="main-title">
						<div class="alert alert-info" align="Center"><h4>Your Time has been Expired</h4>
						</div>

					</div>
					<div  align="Center">
						<div class="buttons">
							<input type="button" class="btn btn-info" value="Close" ng-click="close_popup()" >
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>